{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    Template for viewing a policy version document.

    Classes required for JS:
    -

    Data attributes required for JS:
    -

    Context variables required for this template:
    * policy - version document object.
}}

{{# numpolicy }}
<div class="policy-information card p-x-1 p-y-1">
    {{# str }} explanationpoliciesnumbers, tool_policy, 
        { "numpolicy": {{# quote }}<strong>{{numpolicy}}</strong>{{/quote }}, "totalpolicies": {{# quote }}<strong>{{totalpolicies}}</strong>{{/ quote }} } 
    {{/ str }}
    <br/>{{# str }} explanationpolicies, tool_policy {{/ str }}
</div>
{{/ numpolicy }}

<div class="policy_document">
    <h2>{{policy.name}}</h2>
    <div class="policy_document_summary}}">
        {{{policy.summary}}}
    </div>
    <div class="policy_document_content">
        {{{policy.content}}}
    </div>
</div>

<hr>

<div class="policy_buttons">
{{#returnurl}}
    <a role="button" href="{{returnurl}}" class="btn btn-primary">{{#str}} continue {{/str}}</a>
{{/returnurl}}
{{#editurl}}
    <a role="button" href="{{editurl}}" class="btn">{{#str}} edit {{/str}}</a>
{{/editurl}}
</div>
